

  <%= form_with(model: @note, remote: true) do |form| %>
    
    <div class="row row-form-edit-primary" id="edit-title-note">
      
      <span class="span-inflex" style="width: 100%;">
        <i class="glyphicon glyphicon-check icon-form-edit-primary span-inflex" ></i>
      
        <%= form.text_field :title, id: :note_title, class: "form-control input-title-edit" %>
      </span>
    </div>

    <div class="row row-form-edit" id="edit-prop-note">
      
      <span class="span-inflex" id="edit-label-note">
        
        <i class="glyphicon glyphicon-tag icon-form-edit-second span-inflex"></i>        

        <%  listaSelect = []
          labelSinEtiquetar = @labels.where(
            "title = '00SINETIQUETAR00'").collect { |l| 
            [l.title, l.id ]}               
          listaSelect << ["Sin etiqueta",labelSinEtiquetar[0][1]]

          listaLabels = @labels.where(
            "title != '00SINETIQUETAR00'").collect { |l| 
            [l.title, l.id ]}

          listaLabels.each do |label|
            listaSelect << label
          end
        %>
        <%= form.select :label_id, listaSelect, include_blank: false %>
      </span>
      <span class="span-inflex" id="edit-done-note">
        <i class="glyphicon glyphicon-check icon-form-edit-second span-inflex"></i>
        <p class="subtitle-form-edit span-inflex"> Realizado: </p>
        <%= form.check_box :done, id: :note_done, class: "check-done-edit" %>
      </span>      
    </div>
    
    <div class="row row-form-edit" id="edit-description-note">      
      <i class="glyphicon glyphicon-text-size icon-form-edit-second span-inflex"></i>
      <p class="span-inflex subtitle-form-edit"> Descripción </p>
      <div class="div-add-description">
        <%= form.text_area :description, id: :description_note %>
      </div>      
    </div>
      
    <div class="row">
      <span id="edit-submit-note">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit 'Cambiar', :class => "btn btn-primary"%>          
      </span>
    </div>        
  <% end %>

  <div class="row row-form-edit" style="margin-top: 0px; margin-bottom: 15px;">
    <span id="edit-add-commenter-note">
      
      <i class="glyphicon glyphicon-comment icon-form-edit-second span-inflex"></i>
      <p class="subtitle-form-edit span-inflex"> Añadir comentario </p>      
      <div class="div-add-comment">
        <%= form_for([@note, @note.commenters.build], remote: true) do |form|%>
        
          <%= form.text_area :message, id: :commenter_message %>
          <div class="div-submit-comment">
            <%= form.submit 'Agregar', class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </span>
  </div>

  <div class="row row-form-edit">
    <span id="edit-list-commenter-note"> 
      <i class="glyphicon glyphicon-list-alt icon-form-edit-second span-inflex"></i>
      <p class="subtitle-form-edit span-inflex"> Comentarios</p>

      <div class="div-list-comment" id="commenters">

        <%= render @note.commenters %>

      </div>
    </span>
  </div>